/* ------------------------ */
/* HEADER */
/* ------------------------ */

header {
  background-color: #10374D;
  height: 150px;
  margin-bottom: 15px;

}

header nav{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#new-user {
  margin-right: 175px;

}

#logo {
  max-height: 115px;
  align-items: center;
  margin-top: 13px;
  border: 3px solid #3A7A88;
  border-radius: 6px;
  padding: 2px;

}

#about {
  margin-left: 175px;

}

.nav-links {
  color: #99AB99;
  text-shadow: 2px 2px black;
  background: #3A7A88;
  border-radius: 6px;
  height: auto;
  line-height: 95px;
  text-align: center;
  transition-property: background;
  transition-duration: .5s;
  transition-timing-function: linear;
  width: 200px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Yellowtail', cursive, sans-serif;
  font-size: 32px;

}

.nav-links:hover {
  background: rgb(165, 180, 248);

}

/* ------------------------ */
/* BODY */
/* ------------------------ */

body {
  background-color: #055572;
  color: rgb(169, 227, 250);
  height: 750px;
  font-family: 'Shadows Into Light', cursive, sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  text-shadow: 2px 2px black;

}

body form {
  text-align: center;
  width: 500px;
  margin: 10px auto;
  padding-bottom: 375px;

}

#form {
  display: block;

}

#game {
  display: none;

}

#results {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 900  px;
  margin-left: auto;
  margin-right: auto;

}

#results h2 {
  float: left;
  clear: both;
  text-align: center;
  font-size: 42px;
  text-shadow: 2px 2px black;

}

#totals {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}

#totals h3 {
  padding: 5px 50px 5px 50px;
  width: auto;
  border: 2px dashed black;
}

#rps {
  display: flex;
  width: 900px;
  height: 330px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

}

#rps img {
  margin: 5px;
  border: 5px groove rgb(131, 0, 0);
  cursor: pointer;

}

#current-wins {
  float: left;
  padding-left: 10px;
  padding-top: -200px;

}

#current-loses {
  float: right;
  padding-right: 10px;
  padding-top: -200px;

  
}

#canvas {
  display: none;
  width: 900px;
  height: 330px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  
}

#delay-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: none;
  overflow: auto;

}

#rounds {
  display: block;
  margin: 10px auto;
  width: 600px;
  height: 60px;
  text-align: center;
  line-height: 30px;

}

#play-again {
  display: none;
  border: 2px solid black;
  text-align: center;
  color: #F4E89F;
  background: #3A7A88;
  border-radius: 6px;
  cursor: pointer;
  transition-property: background;
  transition-duration: .5s;
  transition-timing-function: linear;

}

#play-again:hover {
  background: rgb(165, 180, 248);

}
