/* ------------------------ */
/* HEADER */
/* ------------------------ */

header {
  background-color: #10374D;
  height: 150px;
  margin-bottom: 15px;
}

header nav{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#high-score {
  margin-right: 175px;

}

#logo {
  max-height: 115px;
  align-items: center;
  margin-top: 13px;
  cursor: crosshair;
  border: 3px solid #3A7A88;
  border-radius: 6px;
  padding: 2px;

}

#about {
  margin-left: 175px;

}

.nav-links {
  color: #F4E89F;
  text-shadow: 2px 2px black;
  background: #3A7A88;
  border-radius: 6px;
  cursor: crosshair;
  height: auto;
  line-height: 95px;
  text-align: center;
  transition-property: background;
  transition-duration: .5s;
  transition-timing-function: linear;
  width: 200px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Yellowtail', cursive, sans-serif;
  font-size: 32px;

}

.nav-links:hover {
  background: rgb(165, 180, 248);

}

/* ------------------------ */
/* BODY */
/* ------------------------ */

body {
  background-color: #055572;
  color: rgb(169, 227, 250);
  font-family: 'Shadows Into Light', cursive, sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  text-shadow: 2px 2px black;

}

#results {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;

}

#results h2 {
  float: left;
  clear: both;
  text-align: center;
  font-size: 42px;
  text-shadow: 2px 2px black;

}

#total-games {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}

#win {
  float: left;
  padding-left: 200px;

}

#rps {
  display: flex;
  width: 650px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

}

#rps img {
  margin: 5px;
  border: 5px groove rgb(131, 0, 0);

}

#lose {
  float: right;
  padding-right: 200px;

}

body form {
  display: flex;
  justify-content: center;
  align-items: center;

}

.name-field {
  display: inline-block;

}

/* ------------------------ */
/* FOOTER */
/* ------------------------ */

footer section {
  background-color: #99AB99;
  color: black;
  height: auto;
  display: block;
  text-align: center;

}